<header>
    <nav>
        <a href="/">Home</a>
        
        <% if (!usuarioAutenticado) { %>
            <!-- Links para visitantes não autenticados -->
            <a href="/usuarios/registrar">Registrar</a>
            <a href="/usuarios/login">Login</a>
        <% } else { %>
            <!-- Links para usuários autenticados -->
            <a href="/usuarios/perfil">Perfil</a>
            <a href="/usuarios/logout">Logout</a>
        <% } %>

        <a href="/animais/cadastrar">Cadastrar Animal</a>
    </nav>
</header>
