<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    >
      <div class="col-md-3 mb-2 mb-md-0">
        <a
          href="/"
          class="d-inline-flex link-body-emphasis text-decoration-none"
        >
          <img
            src="/img/logo.png"
            alt="Logo Cadê Meu Pet?"
            class="logo"
            width="100"
            height="100"
          />
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Início</a></li>
        <li><a href="/animais/cadastrar" class="nav-link px-2">Cadastrar Animal</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <% if (!usuarioAutenticado) { %>
        <!-- Links para visitantes não autenticados -->
        <a href="/usuarios/registrar" class="btn btn-outline-primary me-2"
          >Registrar</a
        >
        <a href="/usuarios/login" class="btn btn-outline-primary me-2">Login</a>
        <% } else { %>
        <!-- Links para usuários autenticados -->
        <a href="/usuarios/perfil" class="btn btn-primary">Perfil</a>
        <a href="/usuarios/logout" class="btn btn-primary">Logout</a>
        <% } %>
      </div>
    </header>
  </body>
</html>
