<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Animal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <%- include("partials/header") %>
    </header>
    
    <main>
        <div class="form-container">
            <%- include("partials/messages") %>
        <form id="form-cadastro" action="/animais" method="POST" enctype="multipart/form-data">
            <h2>Cadastro Completo do Animal</h2>
            <!-- Campos gerais -->
            <label>Foto:</label>
            <input type="file" name="foto" accept="image/*" required>

            <label>Nome:</label>
            <input type="text" name="nome" >
        
            <label>Idade:</label>
            <input type="number" name="idade" >

            <label>Espécie:</label>
            <select name="especie" required>
                <option value="Cachorro">Cachorro</option>
                <option value="Gato">Gato</option>
            </select>
        
            <label>Gênero:</label>
            <select name="genero" required>
                <option value="Macho">Macho</option>
                <option value="Femea">Fêmea</option>
            </select>

            <label>Raça:</label>
            <input type="text" name="raca" >

            <label>Porte:</label>
            <select name="porte" required>
                <option value="">Selecione</option>
                <option value="Pequeno">Pequeno</option>
                <option value="Medio">Médio</option>
                <option value="Grande">Grande</option>
            </select>

            <label>Características:</label>
            <textarea name="caracteristicas" placeholder="Descreva brevemente o animal"></textarea>
        
            <label>Cor Predominante:</label>
            <input type="text" name="corPredominante" placeholder="Cor predominante do animal"> 

            <label>Localização:</label>
            <input type="text" name="localizacao" required>
        
            <label>Situação:</label>
            <select name="situacao" id="situacao" onchange="exibirCamposEspecificos()" required>
                <option value="Perdido">Perdido</option>
                <option value="Procurando Tutor">Procurando Tutor</option>
                <option value="Para Adocao">Para adoção</option>
            </select>
        
            <!-- Campos específicos para adoção -->
            <div id="camposAdocao" style="display: none;">
                <label>Local Atual:</label>
                <select name="localAtual">
                    <option value="">Selecione</option>
                    <option value="Lar temporário">Lar temporário</option>
                    <option value="Petshop">Petshop</option>
                    <option value="Abrigo">Abrigo</option>
                    <option value="Canil">Canil</option>
                    <option value="ONG">ONG</option>
                    <option value="Outro">Outro</option>
                </select>
        
                <label>História do Pet:</label>
                <textarea name="historia" placeholder="Conte a história do animal para incentivar a adoção."></textarea>
        
                <label>Cuidados Veterinários:</label>
                <input type="checkbox" name="cuidadosVeterinarios[]" value="Vacinado"> Vacinado
                <input type="checkbox" name="cuidadosVeterinarios[]" value="Castrado"> Castrado
                <input type="checkbox" name="cuidadosVeterinarios[]" value="Vermífugado"> Vermifugado
                <input type="checkbox" name="cuidadosVeterinarios[]" value="Microchipado"> Microchipado
                <input type="checkbox" name="cuidadosVeterinarios[]" value="Necessidades Especiais"> Necessidades Especiais
            
                <label>Temperamento:</label>
                <input type="checkbox" name="temperamento[]" value="Dócil"> Dócil
                <input type="checkbox" name="temperamento[]" value="Agressivo"> Agressivo
                <input type="checkbox" name="temperamento[]" value="Brincalhão"> Brincalhão
                <input type="checkbox" name="temperamento[]" value="Calmo"> Calmo
                <input type="checkbox" name="temperamento[]" value="Sociável"> Sociável
                <input type="checkbox" name="temperamento[]" value="Carente"> Carente
                <input type="checkbox" name="temperamento[]" value="Tímido"> Tímido
                <input type="checkbox" name="temperamento[]" value="Independente"> Independente
            
                <label>Adaptabilidade:</label>
                <input type="checkbox" name="adaptabilidade[]" value="Vive bem em apartamento"> Vive bem em apartamento
                <input type="checkbox" name="adaptabilidade[]" value="Vive bem em casa"> Vive bem em casa
                <input type="checkbox" name="adaptabilidade[]" value="Vive bem em fazenda"> Vive bem em fazenda

                <label>Socialização:</label>
                <input type="checkbox" name="socializacao[]" value="Sociável com crianças"> Sociável com crianças
                <input type="checkbox" name="socializacao[]" value="Sociável com cães"> Sociável com outros cães
                <input type="checkbox" name="socializacao[]" value="Sociável com estranhos"> Sociável com estranhos
                <input type="checkbox" name="socializacao[]" value="Sociável com gatos"> Sociável com gatos
            </div>

            <!-- Campos específicos para pets esperando tutor -->
            <div id="camposTutor" style="display: none;">
                <label>Data que foi encontrado:</label>
                <input type="date" name="dataEncontrado">
            </div>
        
            <!-- Campos específicos para pets perdidos -->
            <div id="camposPerdido" style="display: none;">
                <label>Data de Desaparecimento:</label>
                <input type="date" name="dataDesaparecimento">
        
                <label>Deseja oferecer uma recompensa?</label>
                <input type="text" name="recompensa" id="recompensa" placeholder="Valor em R$">
            </div>
        
            <button type="submit">Cadastrar Animal</button>
        </form>
    </div>
    </main>

    <script src="/js/script.js"></script>
    <script src="/js/animalRegister.js"></script>
</body>
</html>
