<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
</head>
<body>
    <header>
        <%- include("partials/header") %>
    </header>
    <%- include("partials/messages") %>
    <h1>Registrar</h1>
    <form action="/usuarios/registrar" method="POST">
        <label>Nome: <input type="text" name="nome" required></label><br>
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Senha: <input type="password" name="senha" required></label><br>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
