.story-container {
    background-color: #31435f; /* cor salmão */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #fff;
}
.info-card {
    background-color: #E9ECEF !important; /* cinza claro */
    border: 1px solid #DDD;
    border-radius: 8px;
    overflow: hidden;
}
.info-card .card-title {
    background-color: #31435f; /* cor salmão para o título */
    padding: 10px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}
.animal-photo {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.btn-container {
    margin-top: 30px;
    padding-bottom: 20px;
}